body{
    margin:0;
    height: 1000px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.player span{
    font-size: 15px;
}

tr {
    width: 400px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    cursor: pointer;
}

td:hover {
    background-color: rgba(138, 123, 209, 0.1);
}

table{
    border-collapse: collapse;              /* bestimmt, ob die Zellen innerhalb einer Tabelle mit einem gemeinsamen oder getrennten Rahmen dargestellt werden.*/
}

table td{
    border: 5px solid black;
}
table tr td:first-child{                        /*gilt für alle Zeile, nur beim 1. TD-Element*/
    border-left: unset;
}

table tr:first-child td{                        /*gilt nur für die 1. Zeile, bei jedem TD-Element*/
    border-top: unset;
}

table tr:last-child td{                          /*gilt nur für die 3. Zeile, bei jedem TD-Element*/
    border-bottom: unset;
}

table tr td:last-child{
    border-right: unset;
}

.fa-cat, .fa-dog{
    position: absolute;
    font-size: 90px;
    top:15px;
    left:10px;
}

.player{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: unset !important;
    font-size: 40px !important;
    margin-right: 20px;
    margin-bottom: 20px;
}

.player-inactive{
    opacity: 0.5;
}

.fa-dog{
    color: rgb(66, 27, 27);
}

.d-none{
    display: none !important;
}

.info {
    margin-bottom: 20px;
}

.horizontal-line{
    width: 350px;
    height: 10px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertical{
    transform: rotate(90deg) scaleX(0.0);
}

.end {
    position: absolute;
    height: 500px;
    z-index: 2;
    animation: zoomIn 225ms ease-in-out;
}

@keyframes zoomIn {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.restart {
    position: absolute;
    z-index: 10;
    border:1px solid rgba(0,0,0,0.5);
    background-color: #F900F7;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    
}

.restart:hover{
    background-color: #f900f9b4;
}
